# File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

from __future__ import annotations

import httpx

from ...types import ephemeris_list_params, ephemeris_count_params, ephemeris_tuple_params
from .history import (
    HistoryResource,
    AsyncHistoryResource,
    HistoryResourceWithRawResponse,
    AsyncHistoryResourceWithRawResponse,
    HistoryResourceWithStreamingResponse,
    AsyncHistoryResourceWithStreamingResponse,
)
from ..._types import NOT_GIVEN, Body, Query, Headers, NoneType, NotGiven
from ..._utils import (
    maybe_transform,
    async_maybe_transform,
)
from ..._compat import cached_property
from ..._resource import SyncAPIResource, AsyncAPIResource
from ..._response import (
    to_raw_response_wrapper,
    to_streamed_response_wrapper,
    async_to_raw_response_wrapper,
    async_to_streamed_response_wrapper,
)
from ..._base_client import make_request_options
from .attitude_data.attitude_data import (
    AttitudeDataResource,
    AsyncAttitudeDataResource,
    AttitudeDataResourceWithRawResponse,
    AsyncAttitudeDataResourceWithRawResponse,
    AttitudeDataResourceWithStreamingResponse,
    AsyncAttitudeDataResourceWithStreamingResponse,
)
from ...types.ephemeris_list_response import EphemerisListResponse
from ...types.ephemeris_tuple_response import EphemerisTupleResponse

__all__ = ["EphemerisResource", "AsyncEphemerisResource"]


class EphemerisResource(SyncAPIResource):
    @cached_property
    def attitude_data(self) -> AttitudeDataResource:
        return AttitudeDataResource(self._client)

    @cached_property
    def history(self) -> HistoryResource:
        return HistoryResource(self._client)

    @cached_property
    def with_raw_response(self) -> EphemerisResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/stainless-sdks/unifieddatalibrary-python#accessing-raw-response-data-eg-headers
        """
        return EphemerisResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> EphemerisResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/stainless-sdks/unifieddatalibrary-python#with_streaming_response
        """
        return EphemerisResourceWithStreamingResponse(self)

    def list(
        self,
        *,
        es_id: str,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = NOT_GIVEN,
    ) -> EphemerisListResponse:
        """
        Service operation to dynamically query data by a variety of query parameters not
        specified in this API documentation. See the queryhelp operation
        (/udl/&lt;datatype&gt;/queryhelp) for more details on valid/required query
        parameter information.

        Args:
          es_id: Unique identifier of the parent EphemerisSet, auto-generated by the system. The
              esId (ephemerisSet id) is used to identify all individual ephemeris states
              associated with a parent ephemerisSet. (uuid)

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return self._get(
            "/udl/ephemeris",
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=maybe_transform({"es_id": es_id}, ephemeris_list_params.EphemerisListParams),
            ),
            cast_to=EphemerisListResponse,
        )

    def count(
        self,
        *,
        es_id: str,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = NOT_GIVEN,
    ) -> str:
        """
        Service operation to return the count of records satisfying the specified query
        parameters. This operation is useful to determine how many records pass a
        particular query criteria without retrieving large amounts of data. See the
        queryhelp operation (/udl/&lt;datatype&gt;/queryhelp) for more details on
        valid/required query parameter information.

        Args:
          es_id: Unique identifier of the parent EphemerisSet, auto-generated by the system. The
              esId (ephemerisSet id) is used to identify all individual ephemeris states
              associated with a parent ephemerisSet. (uuid)

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        extra_headers = {"Accept": "text/plain", **(extra_headers or {})}
        return self._get(
            "/udl/ephemeris/count",
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=maybe_transform({"es_id": es_id}, ephemeris_count_params.EphemerisCountParams),
            ),
            cast_to=str,
        )

    def queryhelp(
        self,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = NOT_GIVEN,
    ) -> None:
        """
        Service operation to provide detailed information on available dynamic query
        parameters for a particular data type.
        """
        extra_headers = {"Accept": "*/*", **(extra_headers or {})}
        return self._get(
            "/udl/ephemeris/queryhelp",
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=NoneType,
        )

    def tuple(
        self,
        *,
        columns: str,
        es_id: str,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = NOT_GIVEN,
    ) -> EphemerisTupleResponse:
        """
        Service operation to dynamically query data and only return specified
        columns/fields. Requested columns are specified by the 'columns' query parameter
        and should be a comma separated list of valid fields for the specified data
        type. classificationMarking is always returned. See the queryhelp operation
        (/udl/<datatype>/queryhelp) for more details on valid/required query parameter
        information. An example URI: /udl/elset/tuple?columns=satNo,period&epoch=>now-5
        hours would return the satNo and period of elsets with an epoch greater than 5
        hours ago.

        Args:
          columns: Comma-separated list of valid field names for this data type to be returned in
              the response. Only the fields specified will be returned as well as the
              classification marking of the data, if applicable. See the ‘queryhelp’ operation
              for a complete list of possible fields.

          es_id: Unique identifier of the parent EphemerisSet, auto-generated by the system. The
              esId (ephemerisSet id) is used to identify all individual ephemeris states
              associated with a parent ephemerisSet. (uuid)

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return self._get(
            "/udl/ephemeris/tuple",
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=maybe_transform(
                    {
                        "columns": columns,
                        "es_id": es_id,
                    },
                    ephemeris_tuple_params.EphemerisTupleParams,
                ),
            ),
            cast_to=EphemerisTupleResponse,
        )


class AsyncEphemerisResource(AsyncAPIResource):
    @cached_property
    def attitude_data(self) -> AsyncAttitudeDataResource:
        return AsyncAttitudeDataResource(self._client)

    @cached_property
    def history(self) -> AsyncHistoryResource:
        return AsyncHistoryResource(self._client)

    @cached_property
    def with_raw_response(self) -> AsyncEphemerisResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/stainless-sdks/unifieddatalibrary-python#accessing-raw-response-data-eg-headers
        """
        return AsyncEphemerisResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> AsyncEphemerisResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/stainless-sdks/unifieddatalibrary-python#with_streaming_response
        """
        return AsyncEphemerisResourceWithStreamingResponse(self)

    async def list(
        self,
        *,
        es_id: str,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = NOT_GIVEN,
    ) -> EphemerisListResponse:
        """
        Service operation to dynamically query data by a variety of query parameters not
        specified in this API documentation. See the queryhelp operation
        (/udl/&lt;datatype&gt;/queryhelp) for more details on valid/required query
        parameter information.

        Args:
          es_id: Unique identifier of the parent EphemerisSet, auto-generated by the system. The
              esId (ephemerisSet id) is used to identify all individual ephemeris states
              associated with a parent ephemerisSet. (uuid)

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return await self._get(
            "/udl/ephemeris",
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=await async_maybe_transform({"es_id": es_id}, ephemeris_list_params.EphemerisListParams),
            ),
            cast_to=EphemerisListResponse,
        )

    async def count(
        self,
        *,
        es_id: str,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = NOT_GIVEN,
    ) -> str:
        """
        Service operation to return the count of records satisfying the specified query
        parameters. This operation is useful to determine how many records pass a
        particular query criteria without retrieving large amounts of data. See the
        queryhelp operation (/udl/&lt;datatype&gt;/queryhelp) for more details on
        valid/required query parameter information.

        Args:
          es_id: Unique identifier of the parent EphemerisSet, auto-generated by the system. The
              esId (ephemerisSet id) is used to identify all individual ephemeris states
              associated with a parent ephemerisSet. (uuid)

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        extra_headers = {"Accept": "text/plain", **(extra_headers or {})}
        return await self._get(
            "/udl/ephemeris/count",
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=await async_maybe_transform({"es_id": es_id}, ephemeris_count_params.EphemerisCountParams),
            ),
            cast_to=str,
        )

    async def queryhelp(
        self,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = NOT_GIVEN,
    ) -> None:
        """
        Service operation to provide detailed information on available dynamic query
        parameters for a particular data type.
        """
        extra_headers = {"Accept": "*/*", **(extra_headers or {})}
        return await self._get(
            "/udl/ephemeris/queryhelp",
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=NoneType,
        )

    async def tuple(
        self,
        *,
        columns: str,
        es_id: str,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = NOT_GIVEN,
    ) -> EphemerisTupleResponse:
        """
        Service operation to dynamically query data and only return specified
        columns/fields. Requested columns are specified by the 'columns' query parameter
        and should be a comma separated list of valid fields for the specified data
        type. classificationMarking is always returned. See the queryhelp operation
        (/udl/<datatype>/queryhelp) for more details on valid/required query parameter
        information. An example URI: /udl/elset/tuple?columns=satNo,period&epoch=>now-5
        hours would return the satNo and period of elsets with an epoch greater than 5
        hours ago.

        Args:
          columns: Comma-separated list of valid field names for this data type to be returned in
              the response. Only the fields specified will be returned as well as the
              classification marking of the data, if applicable. See the ‘queryhelp’ operation
              for a complete list of possible fields.

          es_id: Unique identifier of the parent EphemerisSet, auto-generated by the system. The
              esId (ephemerisSet id) is used to identify all individual ephemeris states
              associated with a parent ephemerisSet. (uuid)

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return await self._get(
            "/udl/ephemeris/tuple",
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=await async_maybe_transform(
                    {
                        "columns": columns,
                        "es_id": es_id,
                    },
                    ephemeris_tuple_params.EphemerisTupleParams,
                ),
            ),
            cast_to=EphemerisTupleResponse,
        )


class EphemerisResourceWithRawResponse:
    def __init__(self, ephemeris: EphemerisResource) -> None:
        self._ephemeris = ephemeris

        self.list = to_raw_response_wrapper(
            ephemeris.list,
        )
        self.count = to_raw_response_wrapper(
            ephemeris.count,
        )
        self.queryhelp = to_raw_response_wrapper(
            ephemeris.queryhelp,
        )
        self.tuple = to_raw_response_wrapper(
            ephemeris.tuple,
        )

    @cached_property
    def attitude_data(self) -> AttitudeDataResourceWithRawResponse:
        return AttitudeDataResourceWithRawResponse(self._ephemeris.attitude_data)

    @cached_property
    def history(self) -> HistoryResourceWithRawResponse:
        return HistoryResourceWithRawResponse(self._ephemeris.history)


class AsyncEphemerisResourceWithRawResponse:
    def __init__(self, ephemeris: AsyncEphemerisResource) -> None:
        self._ephemeris = ephemeris

        self.list = async_to_raw_response_wrapper(
            ephemeris.list,
        )
        self.count = async_to_raw_response_wrapper(
            ephemeris.count,
        )
        self.queryhelp = async_to_raw_response_wrapper(
            ephemeris.queryhelp,
        )
        self.tuple = async_to_raw_response_wrapper(
            ephemeris.tuple,
        )

    @cached_property
    def attitude_data(self) -> AsyncAttitudeDataResourceWithRawResponse:
        return AsyncAttitudeDataResourceWithRawResponse(self._ephemeris.attitude_data)

    @cached_property
    def history(self) -> AsyncHistoryResourceWithRawResponse:
        return AsyncHistoryResourceWithRawResponse(self._ephemeris.history)


class EphemerisResourceWithStreamingResponse:
    def __init__(self, ephemeris: EphemerisResource) -> None:
        self._ephemeris = ephemeris

        self.list = to_streamed_response_wrapper(
            ephemeris.list,
        )
        self.count = to_streamed_response_wrapper(
            ephemeris.count,
        )
        self.queryhelp = to_streamed_response_wrapper(
            ephemeris.queryhelp,
        )
        self.tuple = to_streamed_response_wrapper(
            ephemeris.tuple,
        )

    @cached_property
    def attitude_data(self) -> AttitudeDataResourceWithStreamingResponse:
        return AttitudeDataResourceWithStreamingResponse(self._ephemeris.attitude_data)

    @cached_property
    def history(self) -> HistoryResourceWithStreamingResponse:
        return HistoryResourceWithStreamingResponse(self._ephemeris.history)


class AsyncEphemerisResourceWithStreamingResponse:
    def __init__(self, ephemeris: AsyncEphemerisResource) -> None:
        self._ephemeris = ephemeris

        self.list = async_to_streamed_response_wrapper(
            ephemeris.list,
        )
        self.count = async_to_streamed_response_wrapper(
            ephemeris.count,
        )
        self.queryhelp = async_to_streamed_response_wrapper(
            ephemeris.queryhelp,
        )
        self.tuple = async_to_streamed_response_wrapper(
            ephemeris.tuple,
        )

    @cached_property
    def attitude_data(self) -> AsyncAttitudeDataResourceWithStreamingResponse:
        return AsyncAttitudeDataResourceWithStreamingResponse(self._ephemeris.attitude_data)

    @cached_property
    def history(self) -> AsyncHistoryResourceWithStreamingResponse:
        return AsyncHistoryResourceWithStreamingResponse(self._ephemeris.history)
